* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: sans-serif;
	background-color: #ebebeb;
}

h1 {
	color: #68c5b2;
}


form * {
	margin: .15em;
	color: #73d9c6;
}

form,
input,
.description {
	background-color: #757575;
}

form {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	width: 600px;
	padding: 1em .5em .5em;
	border-radius: .25em;
}

label[for="name-field"] {}

input::placeholder {
	font-size: 1.25em;
	color: white;
}

label {
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/**flex: 1 0 auto;
	flex: 1 1 auto;
	flex-wrap: wrap;
	width: 300px;**/
	flex: 1 1 auto;
	height: 63px;
}

input {
	height: 40px;
	border: none;
	border-bottom: 2px solid #73d9c6;
}

button {
	flex: 1 0 auto;
	align-self: end;
	font-size: 1.25em;
	font-weight: 600 !important;
	background-color: #73d9c6;
	color: white;
	min-width: 70px;
	height: 40px;
	margin: .15em;
	font-weight: bold;
	border: none;
	border-radius: .25em;
}

.description {
	color: white;
	font-weight: 500;
	width: 600px;
	padding: .5em;
	margin-top: 1em;
	border-radius: .25em;
}

a {
	font-weight: 600;
	/*text-decoration: none;*/
	text-decoration-thickness: 1px;
	color: #4cdbe4;
}
