/** Resets & Variables **/
* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: sans-serif;
	color: var(--dark-blue);
	background-color: #f5f5f5;
	margin: 0;
	height: 100%;
}

:root {
	--testing-bg-color: #b457c7;
	--white-text: #f5f5f5;
	--blue-highlight: #3b82f6;
	--dark-blue: #1f2937;

}

/** Typography **/

h1 {
	margin-top: 0;
}

p,
sub {
	line-height: 1.5;
}

/** ------------------------------ **/

span {
	font-size: 3em;
}

.testing {
	background-color: var(--testing-bg-color);
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.container-padding {
	padding: 1em 0;
}

.blue {
	background-color: var(--dark-blue);
}

.section {
	/*background-color: pink;*/
	/*min-width: 75%;*/
	width: 75%;
	max-width: 1100px;
}

a {
	text-decoration: none;
	color: var(--white-text);
}

.nav {
	display: flex;
	justify-content: space-between;
	margin-top: 1em;
	/*width: 1100px;*/
}

.nav-list li {
	justify-content: space-between;
}

ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 360px;
	margin: 0;
	list-style-type: none;
	padding: 1em 0;
}

.logo {
	max-width: 5em;
}

/** Header (Hero) Section **/
header {
	display: flex;
	color: var(--white-text);
	box-sizing: border-box;
	height: 292px;
	height: 350px;
	padding-top: 2em;
	padding-bottom: 2em;
}

.call-to-action-content,
.call-to-action-header {
	display: flex;
}

/**.call-to-action-header {
	flex-direction: column;
	flex-basis: 375px;
}**/

.call-to-action-content {
	justify-content: space-between;
}

.call-to-action-header {
	flex-direction: column;
	flex-basis: 375px;
	margin-right: 40px;
}


button {
	cursor: pointer;
	/*display: block;*/
	font-weight: bold;
	color: var(--dark-blue);
	background-color: #3b82f6;
	width: 118px;
	border: none;
	border-radius: .5em;
	margin-top: 1em;
	padding: .5em 2em;
}

.hero-image {
	/*width: 65vw;*/
	margin-left: auto;
}

/** Cards Section **/

.quotation-container,
.random-section,
.call-to-action-footer {
	margin-bottom: 5em;
}


.random-section {
	flex-direction: column;
}

.cards {
	display: flex;
	justify-content: space-between;
}

figure {
	margin: 0;
}

figcaption {
	font-size: .75em;
	text-wrap: wrap;
	max-width: 125px;
}

figure>img {
	flex-basis: 100px;
	max-width: 125px;
	border: 3px solid #3b82f6;
	border-radius: .5em;
}

/** Quotation Section **/
.quotation-container {
	background-color: #e5e7eb;
	justify-content: center;
	align-items: center;
}

blockquote {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2em auto;
	font-size: 1.5em;
	font-weight: lighter;
	max-width: 612px;
}

/** Call to Action Section (footer) **/

.call-to-action-footer-section {}

.call-to-action-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--blue-highlight);
	border-radius: .5em;
	padding: 2em 5em;
}

.call-to-action-footer,
.call-to-action-footer button {
	/*color: #f5f5f5;*/
	color: var(--white-text);
}

.call-to-action-footer button {
	border: 2px solid var(--white-text);
	width: 118px;
	height: 33px;
}

.call-to-action {
	font-size: 1.25em;
	margin-bottom: 0;
	padding: 0;
}

.click-to-action {
	margin-top: 0;
}

/** Footer **/
footer {
	text-align: center;
	color: var(--white-text);
	background-color: var(--dark-blue);
	padding: .5em;
}

/** firefox adjustments **/
@-moz-document url-prefix() {

	/* fix word wrap on nav items */
	.nav-list {
		width: 425px;
	}
}

/** Media Queries **/

@media (max-width: 825px) {

	.section {
		max-width: 400px !important;
	}

	/* header - "stack" via column */
	header {
		min-height: 475px;
		margin-bottom: 1em;
	}

	h1 {
		margin-bottom: .25em;
	}

	.call-to-action-header {
		justify-content: space-between;
		order: 1;
	}

	.call-to-action-container {
		justify-content: flex-start;
	}

	.call-to-action-content {
		flex-direction: column;
		justify-content: space-between;
	}

	.hero-image {
		align-self: center;
		margin: 0 0 2em 0;
	}

	.call-to-action-header {
		margin: 0;
	}

	.sign-up {
		width: 100%;
	}

	/* cards - wrap */
	.cards {
		justify-content: space-between;
		flex-wrap: wrap;
	}

	figure {
		width: 50%;
	}

	figure:nth-of-type(-n +2) {
		margin-bottom: 74px;
	}

	figure:nth-child(2)>img,
	figure:nth-child(2)>figcaption,
	figure:nth-child(4)>img,
	figure:nth-child(4)>figcaption {
		margin-left: 74px;
	}
}

@media (max-width:890px) {
	.call-to-action-footer {
		flex-direction: column;
		padding-bottom: 4em;
	}

	.call-to-action-footer button {
		width: 100%;
	}
}
