/** Resets & Variables **/
* {
	box-sizing: border-box;
	--testing-bg-color: #b457c7;
	--white-text: #f5f5f5;
	--blue-highlight: #3b82f6;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: sans-serif;
	background-color: #f5f5f5;
	margin: 0;
	height: 100%;
}

/** ------------------------------ **/

span {
	font-size: 3em;
}

.testing {
	background-color: var(--testing-bg-color);
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.blue {
	background-color: #1f2937;
}

.section {
	/*background-color: pink;*/
	/*min-width: 75%;*/
	width: 75%;
	max-width: 1100px;
}

.nav {
	display: flex;
	justify-content: space-between;
	margin-top: 1em;
	/*width: 1100px;*/
}

.nav-list {
	color: var(--white-text);
}

.nav-list li {
	justify-content: space-between;
}

ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 360px;
	margin: 0;
	list-style-type: none;
	padding: 1em 0;
}

.logo {
	max-width: 5em;
}

/** Header (Hero) Section **/
header {
	display: flex;
	color: var(--white-text);
	box-sizing: border-box;
	height: 292px;
	height: 350px;
	padding-top: 2em;
	padding-bottom: 2em;
}

.call-to-action-content,
.call-to-action-header {
	display: flex;
}

/**.call-to-action-header {
	flex-direction: column;
	flex-basis: 375px;
}**/

.call-to-action-content {
	justify-content: space-between;
}

.call-to-action-header {
	flex-direction: column;
	flex-basis: 375px;
	margin-right: 40px;
}


button {
	/*display: block;*/
	font-weight: bold;
	background-color: #3b82f6;
	width: 105px;
	border: none;
	border-radius: .5em;
	margin-top: 1em;
	padding: .5em 2em;
}

.hero-image {
	/*width: 65vw;*/
	margin-left: auto;
}

/** Cards Section **/

.random-section {
	flex-direction: column;
}

.cards {
	display: flex;
	justify-content: space-between;
}

figure {
	margin: 0;
}

figcaption {
	font-size: .85em;
	text-wrap: wrap;
	max-width: 125px;
}

figure>img {
	flex-basis: 100px;
	max-width: 125px;
	border: 3px solid #3b82f6;

	border-radius: .5em;
}
