* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: sans-serif;
	background-color: #f5f5f5;
	margin: 0;
}

h1 {
	margin-bottom: 0;
}

sub {
	color: #e3e3e3;
	font-size: .90em;
}

.sub-container {
	padding-left: 4em;
	padding-right: 4em;
}

nav,
header,
button {
	background-color: #1f2937;
	color: #f5f5f5;
}

nav {
	padding-top: 1em;
}

ul {
	margin: 0;
}

.nav-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
	padding-left: 0;
}

.nav-list li {
	padding-right: 1em;
}

.nav-list>li:nth-of-type(1) {
	margin-right: auto;
}

.nav-list>li:nth-of-type(4) {
	padding-right: 0;
}

.logo {
	max-width: 5em;
}

header {
	display: flex;
	justify-content: space-between;
	padding-top: 2em;
	padding-bottom: 2em;
}

.call-to-action-header {
	display: flex;
	flex-direction: column;
	flex-basis: 375px;
}

button {
	/*display: block;*/
	font-weight: bold;
	background-color: #3b82f6;
	width: 105px;
	border: none;
	border-radius: .5em;
	margin-top: 1em;
	padding: .5em 2em;
}

.hero-image {
	/*width: 65vw;*/
}
