* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: sans-serif;
	margin: 10px;
	background: #f5f9fa;
}

h2 {
	font-size: 16px;
}

.a11y-label {
	margin: 0;
	text-align: right;
	font-size: 0.7rem;
	width: 98%;
}

.output {
	height: 410px;
	overflow: auto;
}
